// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.player-cards {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 1px black solid;
}
