<div id="user-<%= @current_user.id %>" class="container-action hidden">
  <div class="game-actions" id="user-<%= @current_user.username %>">

    <div class="hit">
      <button class="action" id="hit" data-behavior="room_speaker">Hit!</button>
    </div>

    <div class="stay">
      <button class="action" id="stay" data-behavior="room_speaker">Stay!!</button>
    </div>

  </div>
</div>
