<h1>Black Jack the Gathering!</h1>

<div class="container">
  <div class="controls">
    <button class="hit-player1">Hit</button>
    <button class="stay-player1">Stay</button>
    <p class='score-player1'></p>
  </div>
  <div class="player1 hand">
  </div>
  <p class="player1-status"><%= @output %></p>
</div>

<div class="container">
  <div class="controls">
    <button class="hit-player2">Hit</button>
    <button class="stay-player2">Stay</button>
    <p class='score-player2'></p>
  </div>
  <div class="player2 hand">
  </div>
  <p class="player2-status"><%= @output %></p>
</div>

<p class="game-status"><%= @output %></p>
